<p id="notice"><%= notice %></p>

<p>
  <b>Hat name:</b>
  <%= @outfit.hat_name %>
</p>

<p>
  <b>Top name:</b>
  <%= @outfit.top_name %>
</p>

<p>
  <b>Pants name:</b>
  <%= @outfit.pants_name %>
</p>


<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
