<p id="notice"><%= notice %></p>

<p>
  <b>Temprature name:</b>
  <%= @outfit.weather %>
</p>


<p>
  <b>Jacket name:</b>
  <%= @outfit.jacket_name %>
</p>

<p>
  <b>Top name:</b>
  <%= @outfit.top_name %>
</p>

<p>
  <b>Pants name:</b>
  <%= @outfit.pants_name %>
</p>




<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
